
#app {
	height: 100vh;
	padding-top: 5rem
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 5rem;
	background: #f7f7f7;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	grid-gap: 0 2rem;
	padding: 1rem;
	--umbra: rgba(0, 0, 0, 0.07);
	--penumbra: rgba(0, 0, 0, 0.07);
	--ambient: rgba(0, 0, 0, 0.1);
	transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 2px 4px -1px var(--umbra), 0px 4px 5px 0px var(--penumbra), 0px 1px 10px 0px var(--ambient);
	z-index: 20;
	overflow: none
}

@media (min-width: 400px) {
	header {
		padding: 1rem 2rem
	}
}

header h4 {
	font-size: var(--h5);
	cursor: pointer;
	text-decoration: underline
}

header h4:hover {
	opacity: 0.6
}

header h4:active {
	opacity: 0.3
}

@media (min-width: 420px) {
	header h4 {
		font-size: var(--h4)
	}
}

@media (min-width: 800px) {
	header h4 {
		cursor: initial;
		text-decoration: none
	}
	header h4:hover,
	header h4:active {
		opacity: initial
	}
}

header .outerGroup {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 0.5rem
}

header .outerGroup .btnAbout {
	z-index: 25;
	font-size: 2.5rem
}

header .inputGroup {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 0.5rem;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5)
}

header .inputGroup [type="text"] {
	min-width: 3rem;
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0
}

header .inputGroup:focus-within {
	box-shadow: 0 1px 0 0 dodgerblue
}

.list {
	padding: 0 1rem
}

@media (min-width: 400px) {
	.list {
		padding: 0 1rem
	}
}

.listItem {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	grid-gap: 0 2rem;
	padding: 0.85rem 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer
}

@media (min-width: 400px) {
	.listItem {
		padding: 0.85rem 1rem
	}
}

.closeMenu {
	position: fixed;
	top: 6rem;
	right: 2rem;
	z-index: 15;
	cursor: pointer
}

.closeMenu:hover {
	color: rgba(51, 51, 51, 0.6)
}

@media (min-width: 800px) {
	.closeMenu {
		display: none
	}
}

.states {
	position: fixed;
	top: 5rem;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	z-index: 10;
	background: #f7f7f7
}

@media (min-width: 800px) {
	.states {
		width: 300px
	}
}

.guages {
	position: relative;
	max-width: 800px;
	background: #f7f7f7;
	height: 100%
}

@media (min-width: 800px) {
	.guages {
		margin-left: 300px
	}
}

.loader {
	position: absolute;
	top: 10vh;
	left: 10vw;
	font-family: "Inconsolata", "Monaco", "Menlo", "Consolas", "Courier New", Courier, monospace
}

.loader div {
	display: inline-block;
	animation: spinner 2s linear infinite
}

.detailMask {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 30
}

.detail {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-rows: auto auto auto auto 1fr;
	width: 100%;
	max-width: 630px;
	background: #f7f7f7;
	overflow-y: auto;
	z-index: 35
}

.detail .header {
	min-height: 5rem;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	grid-gap: 0 2rem;
	padding: 1rem;
	--umbra: rgba(0, 0, 0, 0.07);
	--penumbra: rgba(0, 0, 0, 0.07);
	--ambient: rgba(0, 0, 0, 0.1);
	transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 2px 4px -1px var(--umbra), 0px 4px 5px 0px var(--penumbra), 0px 1px 10px 0px var(--ambient);
	overflow: none
}

@media (min-width: 400px) {
	.detail .header {
		padding: 1rem 2rem
	}
}

.detail .graph {
	padding: 0 1rem;
	display: grid
}

@media (min-width: 600px) {
	.detail .graph {
		padding: 0 2rem
	}
}

.detail .graph>* {
	grid-area: 1/1/1/1
}

.detail .swipeMask {
	z-index: 55
}

.detail img,
.detail svg {
	width: 100%;
	height: auto;
	margin: 1rem 0;
	user-select: none
}

.detail svg {
	background: #cccccc80
}

.detail .row {
	padding: 0.25rem 2rem;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	grid-gap: 1rem
}

.detail .row time,
.detail .row a,
.detail .row .flow {
	user-select: none
}

.detail .row select {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 0;
	cursor: pointer
}

.detail .fav {
	display: grid;
	place-items: center center
}

.detail .fav .icon {
	cursor: pointer
}

.about {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-auto-flow: row;
	align-content: space-between;
	background-color: #f7f7f7;
	z-index: 40
}

.about .aboutText {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: start;
	grid-gap: 0 1rem;
	height: 5rem;
	padding: 1rem 2rem
}

.about .aboutText .description {
	font-size: var(--h5);
	max-width: 70vw
}

@media (min-width: 500px) {
	.about .aboutText .description {
		font-size: var(--h4)
	}
}

.about .river {
	display: block;
	width: 100%;
	max-height: 90vh
}

@keyframes spinner {
	from {
		transform: rotateY(0deg)
	}
	to {
		transform: rotateY(360deg)
	}
}

[class*="-active"] {
	transition: 0.3s
}

.slideRight-enter,
.slideRight-leave-to {
	transform: translateX(-100vw)
}

.slideLeft-enter,
.slideLeft-leave-to {
	transform: translateX(100vw)
}

.fade-enter,
.fade-leave-to {
	opacity: 0
}

.closeMenu-enter {
	transform: translateX(-100vw)
}

.closeMenu-leave-to {
	opacity: 0
}
