<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Currentflow</title>
  
  <!-- <link rel="icon" type="image/png" href="favicon.png" /> -->
  <link rel="stylesheet" href="base.css" type="text/css">
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
  
<body>

<div id="app">

<!-- #region HEADER ========== -->
  <header>
    <h4 @click="innerWidth < 800 ? toggleStates() : ''">
      <!-- {{innerWidth < 423 ?  selectedState.short : selectedState.name}}  -->
      {{title}}
    </h4>   

    <small @click="toggleDetail">
      {{ "w:" + innerWidth + "  h:" + innerHeight }}      
    </small>    
	</header> 
<!-- #endregion HEADER ========== -->

<!-- #region STATES ========== -->
  <transition name="closeMenu">
    <div class="icon closeMenu"
      v-if="showStates && innerWidth < 800"
      @click="toggleStates">
      close
    </div>
  </transition>

  <transition name="slideRight">    
    <section class="states list" 
      v-if="showStates || innerWidth > 800"
      v-swipe="mainSwipe">

      <div class="state listItem" :key="index"
        v-for="(state, index) of states">
        {{ state.name }}
      </div>
      
    </section>
  </transition>
<!-- #endregion STATES ========== -->

<!-- #region GUAGES ========== -->
  <transition name="slideLeft">    
    <section class="guages list"
        v-if="!showStates || innerWidth > 800"
        v-swipe="mainSwipe">

      <div class="guage listItem" :key="index"
        v-for="index of 30">
        <div>item</div>
        <div>{{ index }}</div>
      </div>
      
    </section>
  </transition>
<!-- #endregion GUAGES ========== -->

<!-- #region DETAIL ========== -->
  <transition name="fade">
    <aside class="detailMask"
        v-if="showDetail"
         @click="toggleDetail">
    </aside>
  </transition>

  <transition name="slideLeft">    
    <section class="detail"
      v-if="showDetail"
      v-swipe:right="toggleDetail">
      <div class="header">
        <h6>Detail</h6>

        <div class="icon btn closeDetail"
          @click="toggleDetail">
          close
        </div>
      </div>

      <div class="body">
        detail
      	
      <div>{{dateNow | date("M/do h:mm aa")}}</div>
	      
      </div>
    </section>
  </transition>
<!-- #endregion DETAIL ========== -->

<!-- #region ABOUT ========== -->
  <transition name="">    
    <section class="about">
      
    </section>
  </transition>
<!-- #endregion ABOUT ========== -->
 

</div>
<!-- app -->
    
    

  <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@2.0.0"></script>
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> -->
  <script src="hammer.js"></script>
  <script src="store.js"></script>
  <script src="date.js"></script>
  <script src="index.js"></script>
  
</body>
</html>
