<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no width=device-width, initial-scale=1.0">
  
  <title>Currentflow</title>
  
  <!-- <link rel="icon" type="image/png" href="favicon.png" /> -->
  <link rel="stylesheet" href="base.css" type="text/css">
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
  
<body>

<div id="app">

<!-- #region HEADER ========== -->
  <header>
    <h4 @click="innerWidth < 800 ? toggleStates() : ''">
      {{innerWidth < 423 ?  selectedState.short : selectedState.name}} 
    </h4>   


    <div class="outerGroup">
      <div class="inputGroup">
        <input ref="filter" type="text" :placeholder="placeholder"
          v-model="filter">
        <div class="icon btn"
            v-if="filter.length"
            @click="clearFilter">
          close
        </div>

        <small>({{filteredGuages.length}})</small>     
        
        <!-- <small @click="toggleDetail">
          {{ "w:" + innerWidth + "  h:" + innerHeight }}      
        </small>     -->

      </div>    
      
      <div class="icon btn"
          @click="toggleAbout=!toggleAbout">
        more_vert
      </div>
    </div>

	</header> 
<!-- #endregion HEADER ========== -->

<!-- #region STATES ========== -->
  <transition name="closeMenu">
    <div class="icon closeMenu"
      v-if="showStates && innerWidth < 800"
      @click="toggleStates">
      close
    </div>
  </transition>

  <transition name="slideRight">    
    <section class="states list" 
      v-if="showStates || innerWidth > 800"
      v-swipe="mainSwipe">

      <div class="state listItem" :key="index"
        v-for="(state, index) of states"
        @click="selectState(state)">
        {{ state.name }}
      </div>
      
    </section>
  </transition>
<!-- #endregion STATES ========== -->

<!-- #region GUAGES ========== -->
  <transition name="slideLeft">    
    <section class="guages"
        v-if="!showStates || innerWidth > 800"
        v-swipe="mainSwipe">

      <transition name="fade" mode="out-in"> 
        <div class="list" :key="toggleFade" v-if="!loadingGuages">    
          <div class="listItem" :key="index"
            v-for="(guage,index) of filteredGuages"> 
            <div class="siteName"
              @click="toggleDetail(guage)">
              {{guage.siteName | titlecase}}
            </div>
            <div v-if="guage.value === '-999999'">...</div>
            <div v-else-if="guage.value === '-999998'">err</div> 
            <div v-else>{{guage.value | decimal}} <small>cfs</small></div>
          </div>      
        </div>

        <div class="loader" v-else>
          <div>loading ...</div>
        </div>
      </transition>
      
    </section>
  </transition>
<!-- #endregion GUAGES ========== -->

<!-- #region DETAIL ========== -->
  <transition name="fade">
    <aside class="detailMask"
        v-if="showDetail"
         @click="toggleDetail">
    </aside>
  </transition>

  <transition name="slideLeft">    
    <section class="detail"
      v-if="showDetail"
      v-swipe:right="toggleDetail">

      <div class="header">
        <h6>{{selectedGuage.siteName | titlecase}}</h6>

        <div class="icon btn closeDetail"
          @click="toggleDetail">
          close
        </div>
      </div>
      


      <div class="graph"  >
        <div class="swipeMask" ></div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 25">
          <text x="3.871" y="4.715" font-size="1" stroke-width=".114">
            loading...
          </text>
        </svg>

        <img :src="'https://waterdata.usgs.gov/nwisweb/graph?agency_cd=USGS&site_no=' + selectedGuage.siteCode + '&parm_cd=00060&period=' +
        this.graphPeriod ">
      </div>

      <div class="row">
        <time>Updated: {{selectedGuage.dateTime | date("MMM d, Y &#8202; h:mm aa")}}</time>

        <div class="flow">
          <small v-if='selectedGuage.value == -999999'>
            <em>Seasonal</em>
          </small>

          <span v-else>
            {{selectedGuage.value}} <small>cfs</small>
          </span>
        </div>
      </div>

      <div class="row">
        <a class='googmap' :href="'https://www.google.com/maps/search/?api=1&query=' + selectedGuage.latitude + '%2C' + selectedGuage.longitude" target='_blank'>Google Maps</a>

        <select v-model='graphPeriod'>
          <option v-for="(p, index) of periods" 
            :value="p.num" :key="index">
            {{p.name}}
          </option>
        </select>
      </div>

      <div class="fav" title="add to favorites">
        <div class="icon" @click="toggleFav(selectedGuage)">
          {{selectedGuage.isFavorite ? 'favorite' : 'favorite_border'}}
        </div>
      </div>
      
    </section>
  </transition>
<!-- #endregion DETAIL ========== -->

<!-- #region ABOUT ========== -->
  <transition name="">    
    <section class="about">
      
    </section>
  </transition>
<!-- #endregion ABOUT ========== -->
 

</div>
<!-- app -->
    
    
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<!--   <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script> -->
  <script src="https://unpkg.com/vuex@2.0.0"></script><script src="hammer.js"></script>
	<script src="states.js"></script>
  <script src="directives.js"></script>
  <script src="filters.js"></script>
  <script src="index.js"></script>
  
</body>
</html>
