
#app {
	height: 100vh;
	padding-top: 4rem
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 4rem;
	background: #f7f7f7;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	grid-gap: 0 2rem;
	padding: 1rem;
	--umbra: rgba(0, 0, 0, 0.07);
	--penumbra: rgba(0, 0, 0, 0.07);
	--ambient: rgba(0, 0, 0, 0.1);
	transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 2px 4px -1px var(--umbra), 0px 4px 5px 0px var(--penumbra), 0px 1px 10px 0px var(--ambient);
	z-index: 20;
	overflow: none
}

@media (min-width: 400px) {
	header {
		padding: 1rem 2rem
	}
}

header h4 {
	font-size: var(--h5);
	cursor: pointer;
	text-decoration: underline
}

header h4:hover {
	opacity: 0.6
}

header h4:active {
	opacity: 0.3
}

@media (min-width: 420px) {
	header h4 {
		font-size: var(--h4)
	}
}

@media (min-width: 800px) {
	header h4 {
		cursor: initial;
		text-decoration: none
	}
	header h4:hover,
	header h4:active {
		opacity: initial
	}
}

header .outerGroup {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 0.5rem
}

header .inputGroup {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 0.5rem;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5)
}

header .inputGroup [type="text"] {
	min-width: 3rem;
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0
}

header .inputGroup:focus-within {
	box-shadow: 0 1px 0 0 dodgerblue
}

@media (min-width: 400px) {
	.list {
		padding: 0 1rem
	}
}

.listItem {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	grid-gap: 0 1rem;
	padding: 0.708rem 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer
}

.closeMenu {
	position: fixed;
	top: 4.75rem;
	right: 2rem;
	z-index: 15;
	cursor: pointer
}

.closeMenu:hover {
	color: rgba(51, 51, 51, 0.6)
}

@media (min-width: 800px) {
	.closeMenu {
		display: none
	}
}

.states {
	position: fixed;
	top: 4rem;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	z-index: 10;
	background: #f7f7f7
}

@media (min-width: 800px) {
	.states {
		width: 300px
	}
}

.guages {
	position: relative;
	max-width: 900px;
	background: #f7f7f7
}

@media (min-width: 800px) {
	.guages {
		margin-left: 300px
	}
}

.loader {
	position: absolute;
	top: 1rem;
	left: 4rem;
	font-family: "Inconsolata", "Monaco", "Menlo", "Consolas", "Courier New", Courier, monospace;
	z-index: -1
}

.loader div {
	display: inline-block;
	animation: spinner 2s linear infinite
}

.detailMask {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 30
}

.detail {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-width: 630px;
	background: #f7f7f7;
	z-index: 35
}

.detail .header {
	min-height: 4rem;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	grid-gap: 0 2rem;
	padding: 1rem;
	--umbra: rgba(0, 0, 0, 0.07);
	--penumbra: rgba(0, 0, 0, 0.07);
	--ambient: rgba(0, 0, 0, 0.1);
	transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 2px 4px -1px var(--umbra), 0px 4px 5px 0px var(--penumbra), 0px 1px 10px 0px var(--ambient);
	overflow: none
}

@media (min-width: 400px) {
	.detail .header {
		padding: 1rem 2rem
	}
}

.detail .body {
	padding: 1rem
}

@media (min-width: 400px) {
	.detail .body {
		padding: 1rem 2rem
	}
}

.about {
	z-index: 40
}

@keyframes spinner {
	from {
		transform: rotateY(0deg)
	}
	to {
		transform: rotateY(360deg)
	}
}

[class*="-active"] {
	transition: 0.3s
}

.slideRight-enter,
.slideRight-leave-to {
	transform: translateX(-100vw)
}

.slideLeft-enter,
.slideLeft-leave-to {
	transform: translateX(100vw)
}

.fade-enter,
.fade-leave-to {
	opacity: 0
}

.closeMenu-enter {
	transform: translateX(-100vw)
}

.closeMenu-leave-to {
	opacity: 0
}

